div(ng-hide="'main.browser.preview' | isState")
    fixed-widget
        directory-path(path="browser.directory.path")

    div(ng-repeat="subdir in browser.directory.subdirectories").directory-listing
        ul.list-unstyled
            li: directory-link(path="subdir.path")

    lazy-loader-container
        div(ng-repeat="image in browser.directory._images" ).thumbnails
            image-thumbnail(image="image" directory="browser.directory" height=200)

    span.clearfix

    div(ng-repeat="video in browser.directory._videos").thumbnails
        figure
            video(controls preload="none" fullscreen-on-dblclick bind-poster="{{video._posterPath}}" height="200")
                source(ng-src="{{video._transcodedPath}}" type="video/mp4")
            figcaption {{video._name}}

    span.clearfix

ui-view