$thumbnailPadding: 10px;

@import "./mixins/overlay";

.thumbnails {
  margin-left: -$thumbnailPadding;

  figure {
    @extend .pull-left;
    margin-left: $thumbnailPadding;
    position: relative;

    .overlay-container {
      render-on-hover {
        min-height: 20px;
      }

      .group {
        i.fa {
          @extend .fa-lg;
        }

        visibility: hidden;
      }

      &:hover .group {
        visibility: visible;
      }
    }

    @include padding-between-button-and-groups(5px, 20px);
  }

  figcaption {
    @extend .small, .text-center;
  }

  video, img {
    @extend .center-block;
  }

}

directory-path {
  display: block;
  font-size: small;
  padding: 0 2px 2px 0;
}

.directory-listing {
  ul {
    @extend .list-unstyled;

    margin-bottom: 5px;
    font-size: small;

    span.glyphicon-folder-close {
      font-size: large;
      color: cadetblue;
    }
  }
}
