div(ng-hide="'main.browser.preview' | isState")

    directory-path(path="browser.directory.path")

    div(ng-repeat="subdir in browser.directory.subdirectories")
        ul.list-unstyled
            li: directory-link(path="subdir.path")

    lazy-loader-container
        div(ng-repeat="image in browser.directory._images")
            image-thumbnail(image="image" height=200).pull-left

    span.clearfix

    div(ng-repeat="video in browser.directory._videos")
        video(controls preload="none" fullscreen-on-dblclick bind-poster="{{video._posterPath}}" height="240").pull-left
            source(ng-src="{{video._transcodedPath}}" type="video/mp4")

    span.clearfix

ui-view