directory-path(path="browser.directory.path")

div(ng-repeat="subdir in browser.directory.subdirectories")
    ul.list-unstyled
        li: directory-link(path="subdir.path")

lazy-loader-container
    div(ng-repeat="file in browser.directory.files")
        ul.list-unstyled: li.pull-left
            image-thumbnail(image="file" height=200).img-responsive

ui-view