a(ui-sref=".preview({imageName:vm.image._name})")
    lazy-loader-component(on-show="vm.onShow()").display-block
        figure
            img(ng-src="{{vm.thumbnailPath}}" width="{{vm.width}}" height="{{vm.height}}")
            figcaption.text-center: small {{vm.image._name}}