$bootstrapContainerFluidMargin: 15px;

@import "./mixins/overlay";

.preview-container {
  position: relative;
  height: 100%;
  width: calc(100% + 2 * #{$bootstrapContainerFluidMargin}); // width - 100% with container fluid margin compensated
  margin: 0 0 - $bootstrapContainerFluidMargin;

  text-align: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  span.vertical-aligner {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
  }

  .overlay-container {
    .group i.fa {
      @extend .fa-2x;
    }
  }

}