div.preview-container.not-selectable
    div.overlay-container
        span.navigations.group
            a(href="javascript:void(0)" ng-click="preview.previousImage()")
                i.fa.fa-arrow-left
            a(ui-sref="^")
                i.fa.fa-arrow-up
            a(href="javascript:void(0)" ng-click="preview.nextImage()")
                i.fa.fa-arrow-right

        span.download.group
            download-buttons(image="preview.image")

        span.manip.group
            trash-button(image="preview.image" directory="preview.directory" on-move="preview.onImageMove()")



    img(ng-src="{{preview.image._previewPath}}")
    span.vertical-aligner
