$bootstrapContainerFluidMargin: 15px;
$paddingBetweenButtons: 5px;
$paddingBetweenButtonGroups: 20px;

@mixin a-href-link-color($color, $lightenFactorOnHover: 10%) {
  color: $color;
  &:hover {
    color: darken($color, $lightenFactorOnHover);
  }
}

@mixin padding-between-button-and-groups() {
  .group:not(:nth-last-of-type(1)) {
    a:not(:nth-last-of-type(1)) {
      padding-right: $paddingBetweenButtons;
    }

    padding-right: $paddingBetweenButtonGroups;
  }
}

.preview-container {
  position: relative;
  height: 100%;
  width: calc(100% + 2 * #{$bootstrapContainerFluidMargin}); // width - 100% with container fluid margin compensated
  margin: 0 0 - $bootstrapContainerFluidMargin;

  text-align: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  span {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
  }

  .overlay-container {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    font-size: x-large;

    .nav .glyphicon {
      @include a-href-link-color(green);
    }

    .manip .glyphicon {
      @include a-href-link-color(indianred);
    }

    @include padding-between-button-and-groups();
}

}