a(ng-if="!vm.isImageInTrash" ng-click="vm.dirty || vm.trashImage()" ng-disabled="vm.dirty")
    i.fa.fw.fa-trash
a(ng-if="vm.isImageInTrash" ng-click="vm.dirty || vm.untrashImage()" ng-disabled="vm.dirty")
    i.fa.fw.fa-undo