a(ng-if="!vm.isImageInTrash" ng-click="vm.trashImage()" ng-disabled="vm.image._dirty")
    i.fa.fw.fa-trash
a(ng-if="vm.isImageInTrash" ng-click="vm.untrashImage()" ng-disabled="vm.image._dirty")
    i.fa.fw.fa-undo