/* Browser obrazków */
div#images {
    display: flex;
    flex-flow: row wrap;
}

div.thumbnail-container {
    flex-basis: 270px;
    height: 230px;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;
    margin: 0 auto;

    position: relative;
}

div.thumbnail-container img {
    max-width: 100%;
}

div#directorybar {
    position: fixed;
    background-color: #cccccc;
    top: 0;
    left: 0;
    z-index: 20;
}


/* Główne kontenery - height 100% pozwala podglądowi dopasowywać się do okna */
html, body {
    height: 100%;
    margin: 0 auto;
}

body > div.ember-view {
    height: 100%;
}


/* Podgląd obrazka */
div#preview-image {
    height: 100%;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

div#preview-image img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

div#preview-image span {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

div#preview {
    height: 100%;
    position: relative;
}

.thumbnail-container .image-overlay {
    width: 30%;
    padding: 0 35%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    padding: 0 40%;

    display: flex;
    justify-content: space-around;

    opacity: 0;
    z-index: 10;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay button {
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 0 none;     /*wyłączenie obramowania*/
}

/* obejście problemu obramowania przycisków */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

button.rightArrow {
    background-image: url('images/right_arrow.png');
}

button.leftArrow {
    background-image: url('images/left_arrow.png');
}

button.upArrow {
    background-image: url('images/up_arrow.png');
}

button.thrash {
    background-image: url('images/user_trash.png');
}

button.revert {
    background-image: url('images/undo.png');
}

.image-overlay button.up {
    background-image: url('images/orientation_up.png');
}

.image-overlay button.right {
    background-image: url('images/orientation_right.png');
}

.image-overlay button.down {
    background-image: url('images/orientation_down.png');
}

.image-overlay button.left {
    background-image: url('images/orientation_left.png');
}
