/* Auth box */

div#authbox {
    position: fixed;
    right: 0;
    padding: 5px;
    z-index: 1;
    background-color: #ffffff;
    top: 0;
}

/* Directory listing */

#dirlisting img {
    display: inline;
    vertical-align: middle;
    width: 25px;
}

#dirlisting li {
    font-size: 13px;
    list-style-type: none;
    margin: 0 -20px;
    width: 300px;
}

#dirlisting a {
    text-decoration: none;
}

#dirlisting .directory-access-icon {
    display: inline-block;
    background-image: url("images/eye.png");
    background-size: 100% 100%;
    width: 18px;
    height: 11px;
    vertical-align: middle;
    opacity: 0.2;
}

#dirlisting .directory-access-icon.shared {
    opacity: 1;
}

/* Image browser */

/* fix required due to box-sizing: border-box (from bootstrap)  */
#browser {
    position: relative;
    top: 20px;
}

div#images {
    display: flex;
    flex-flow: row wrap;
    margin: 0 20px;
}

div.thumbnail-container {
    flex-basis: 270px;
    height: 230px;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;
    margin: 0 auto;

    position: relative;
}

div.thumbnail-container img {
    max-width: 100%;
}

div#directorybar {
    position: fixed;
    background-color: #cccccc;
    top: 0;
    left: 0;
    z-index: 20;
}


/* height 100% required by nested (height 100%) */
html, body {
    height: 100%;
    margin: 0 auto;
}

body > div.ember-view {
    height: 100%;
}


/* Image preview */

div#preview-image {
    height: 100%;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

div#preview-image img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

div#preview-image span {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

div#preview {
    height: 100%;
    position: relative;
}

.thumbnail-container .image-overlay {
    width: 50%;
    padding: 0 25%;
}

.image-overlay {
    /* fix required due to box-sizing: border-box (from bootstrap)  */
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    padding: 0 40%;

    display: flex;
    justify-content: space-around;

    opacity: 0;
    z-index: 10;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay .button.inactive {
    opacity: 0.4;
}

.image-overlay .button:hover:not(.inactive) {
    top: -2px;
    left: 0px;
    position: relative;
}

.image-overlay .button {
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 0 none;
}

/* Buttons */

.button.rightArrow {
    background-image: url('images/right_arrow.png');
}

.button.leftArrow {
    background-image: url('images/left_arrow.png');
}

.button.upArrow {
    background-image: url('images/up_arrow.png');
}

.button.download {
    background-image: url('images/download_arrow.png');
}

.button.thrash {
    background-image: url('images/user_trash.png');
}

.button.revert {
    background-image: url('images/undo.png');
}

.image-overlay .button.up {
    background-image: url('images/orientation_up.png');
}

.image-overlay .button.right {
    background-image: url('images/orientation_right.png');
}

.image-overlay .button.down {
    background-image: url('images/orientation_down.png');
}

.image-overlay .button.left {
    background-image: url('images/orientation_left.png');
}

/* Disable strange outline on buttons */
:focus {outline:none;}
::-moz-focus-inner {border:0;}