div#images {
    display: flex;
    flex-flow: row wrap;
}

div.thumbnail-container {
    flex-basis: 270px;
    height: 230px;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-end;
    margin: 0 auto;
}

div.thumbnail-container img {
    max-width: 100%;
}

div#directorybar {
    position: fixed;
    background-color: #cccccc;
    top: 0;
    left: 0;
}


/* Główne kontenery - height 100% pozwala podglądowi dopasowywać się do okna */
html, body {
    height: 100%;
    margin: 0 auto;
}

body > div.ember-view {
    height: 100%;
}

div#preview-image {
    height: 100%;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

div#preview-image img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

div#preview-image span {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

div#preview {
    height: 100%;
    position: relative;
}

div#navigation {
    position: absolute;
    top: 10px;
    width: 10%;
    padding: 0 45%;

    display: flex;
    justify-content: space-around;

    opacity: 0;
    z-index: 10;
}

div#navigation:hover {
    opacity: 1;
}

div#navigation button {
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0 none;     /*wyłączenie obramowania*/
}

/* obejście problemu obramowania przycisków */
:focus {outline:none;}
::-moz-focus-inner {border:0;}

div#navigation button#right {
    background-image: url('/assets/images/right_arrow.png');
}

div#navigation button#left {
    background-image: url('/assets/images/left_arrow.png');
}

div#navigation button#up {
    background-image: url('/assets/images/up_arrow.png');
}

div#navigation button#remove {
    background-image: url('/assets/images/user_trash.png');
}

div#navigation button#undo {
    background-image: url('/assets/images/undo.png');
}
