<ul>
    {{#each directory in model.subdirectories}}
        <li>
            <img src="assets/images/directory.png"/>

            {{#link-to 'gallery.directory' directory.pathWithoutSlashes (query-params scrollTo='null')}}
                {{directory.name}}
            {{/link-to}}

            {{#if session.isAuthenticated}}
                <span {{action "toggleShared" directory}}
                        class="directory-access-icon {{if directory.shared 'shared' ''}}">
                </span>
            {{/if}}
        </li>
    {{/each}}
</ul>