<div id="navigation">
    <button {{action 'left'}} id="left" class="prevImage"/>
    <button {{action 'right'}} id="right" class="nextImage"/>
    <button {{action 'up'}} id="up" class="browseImage"/>
</div>
<div id="preview-image">
    <img {{bind-attr src=previewImage.preview}}>
</div>