<ul>
    <li>{{#link-to 'gallery.directory' '.'}}Galeria{{/link-to}}</li>
    {{#if session.isAuthenticated}}
        <li><a href="assets/jwplayer/test.html">Stara kamerka</a></li>
        <li><a href="http://192.168.0.4:8090/kamerka.swf">Nowa kamerka</a></li>
    {{/if}}
</ul>