
@mixin color-darken-on-hover($color, $lightenFactorOnHover: 10%) {
  color: $color;

  &[disabled] {
    color: desaturate($color, 70%);
    &:hover {
      cursor: not-allowed;
    }
  }

  &:not([disabled]):hover {
    text-decoration: none;
    color: darken($color, $lightenFactorOnHover);
  }
}

@mixin padding-between-button-and-groups($paddingBetweenButtons, $paddingBetweenButtonGroups) {
  span.group:not(:nth-last-of-type(1)) {
    padding-right: $paddingBetweenButtonGroups;
  }

  span {
    a:not(:nth-last-of-type(1)) {
      padding-right: $paddingBetweenButtons;
    }
  }
}

.overlay-container {
  @extend .text-center;

  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  .download {
    i.download-text {
      position: absolute;
      margin-top: 0em;
      margin-left: -0.4em;
      font-size: 0.7em;
    }
  }

  .slideshow a {
    @include color-darken-on-hover(green);
  }

  .navigations a {
    @include color-darken-on-hover(green);
  }

  .manip a {
    @include color-darken-on-hover(indianred);
  }

  .download a {
    @include color-darken-on-hover(royalblue);
  }

  @include padding-between-button-and-groups(8px, 25px);
}
