form.form-group(novalidate name='form')
    label(for='login') Login
    input(id='login' ng-model='vm.user.login' ng-disabled="vm.isAuthenticated()" required)

    label(for='password') Password
    input(id='password' ng-model='vm.user.password' ng-disabled="vm.isAuthenticated()" type='password' required)

    input.btn.btn-xs.btn-danger(ng-click='logout()' ng-disabled='!vm.isAuthenticated()' value="Logout")

    input.btn.btn-default(type='submit' ng-click='login()' ng-disabled='form.$invalid' ng-hide='true')