div#images {
    display: flex;
    flex-flow: row wrap;
}

div.thumbnail-container {
    flex-basis: 280px;
    height: 230px;
}

div.thumbnail-desc {
    text-align: center;
}

div.thumbnail-image {
    display: flex;
    justify-content: center;
}

div.thumbnail-desc {
    font-size: small;
    font-weight: lighter;
    text-align: center;
}

div#directorybar {
    position: fixed;
    background-color: #cccccc;
    top: 0;
    left: 0;
}



html, body {
    height: 100%;
    margin: 0 auto;
}

body > div.ember-view {
    height: 100%;
}

div#preview-image {
    height: 100%;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

div#preview-image img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

div#preview-image span {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

div#preview {
    height: 100%;
    position: relative;
}

div#navigation > div {
    background-color: #000000;
    opacity: 0;
    position: absolute;
    z-index: 1;
}

div#navigation > div:hover {
    opacity: 0.5;
}

#right, #left {
    height: 100%;
    width: 100px;
}

#right {
    right: 0;
}

#top {
    width: 100%;
    height: 100px;
}