{% extends "base.html" %}

{% load staticfiles %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{% static "css/browse.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/preview.css" %}"/>

{% endblock %}

{% block body %}
    <div id="browser"></div>

    <div id="preview" style="display:none;">
        <div id="navigation">
            <div id="left" class="prevImage"></div>
            <div id="right" class="nextImage"></div>
            <div id="top" class="browseImage"></div>
        </div>
        <div id="preview-image">
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>

    {% include 'handlerbars-templates/browser.html' %}

    <script src="{% static "js/Gallery.js" %}"></script>

    <script>
        $(document).ready(function () {
            var listDirRoot = "{% url 'listdir' '' %}";
            var startingDirectory = "{% url 'listdir' directory %}";
            Gallery.init(listDirRoot, startingDirectory);
        });
    </script>
{% endblock %}
