<div id="preview">
    <div id="navigation">
        <div id="left" class="prevImage"></div>
        <div id="right" class="nextImage"></div>
        <div id="top" class="browseImage"></div>
    </div>
    <div id="preview-image">
        <img {{bind-attr src=preview}}/><span/>
    </div>
</div>